    @page
    @model Dibs.Pages.AboutModel
    @{
        ViewData["Title"] = "About Us";
    }

    <div class="row">
        <div class="jumbotron w-100">
            <h1 class="display-4">Our Story</h1>
            <p class="lead">At Dibs, we make sure you don't miss that meeting &#128521; </p>
            <p class="lead">As it is with companies Dibs was formed when three random blokes met each other doing a random assigment and coming up with this fun interative and one of a kind creation. This story is generic but our tool is not 	&#128526; Know more about us and our three founding memebers and how they met each other via a google doc. Come work with us!!!!!!!!!! or not but you should use this tool.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle mx-auto d-block" src="~/img/Headshots/KyleTroyerProfilePic.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2 class="text-center">Kyle Troyer</h2>
            <h3 class="text-center">Chief Executive Officer</h3>
            <p>Kyle Troyer is a 4th year Information Systems major at the University of Cincinanti. Kyle is currently working part time as a Data Analyst Intern for Great American Insurance's Internal Audit Department. Kyle Normally likes to finish his programming homework early so he has enough time to play around and learn new things. This week however Kyle did not finish early, a fact he is now regretting.</p>
            <!--<p><a class="btn btn-secondary" href="#" role="button">See More »</a></p>*-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle mx-auto d-block" src="~/img/Headshots/JacobJosephProfilePic.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2 class="text-center">Jacob Joseph</h2>
            <h3 class="text-center">CHIEF OPERATING OFFICER</h3>
            <p>Jacob Joseph who worked as a Data Analyst grabbed an opportunity to not attend meetings and make sure others do and became part of this team who made it possible for people spread out in different location to come under one platform and connect</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle mx-auto d-block" src="~/img/Headshots/ChrisCardoneProfilePic.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2 class="text-center">Jake Gevedon</h2>
            <p></p>
        </div><!-- /.col-lg-4 -->
    </div>
