@page
@model Dibs.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}

<div class="row">
<div class="jumbotron w-100">
    <h1 class="display-4">About Us</h1>
    <p class="lead">Our team is made up of some of the foremost experts in the field of HR recruiting.</p>
</div>
</div>
<div class="row">
    <div class="col-lg-4">
        <img class="rounded-circle mx-auto d-block" src="~/img/Headshots/KyleTroyerProfilePic.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-center">Kyle Troyer</h2>
        <p>Kyle Troyer is a 4th year Information Systems major at the University of Cincinanti. Kyle is currently working part time as a Data Analyst Intern for Great American Insurance's Internal Audit Department. Kyle Normally likes to finish his programming homework early so he has enough time to play around and learn new things. This week however Kyle did not finish early, a fact he is now regretting.</p>
        <p><a class="btn btn-secondary" href="#" role="button">See More »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="rounded-circle mx-auto d-block" src="~/img/Headshots/JacobJosephProfilePic.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-center">Nick Natale</h2>
        <p></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="rounded-circle mx-auto d-block" src="~/img/Headshots/ChrisCardoneProfilePic.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-center">Chris Cardone</h2>
        <p>
            Chris received his undergraduate degree from the University of Cincinnati in Business Analytics, where he also recieved his Master's in Business Analytics with a
            focus in Data Science. He was inspired by the method of colaboration he learned while he was in School, but felt that something was missing in interactions that were less face to face.
            He decided to join Dibs in order to help people connect in real human interactions that could help improve their productivity
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">See More »</a></p>
    </div><!-- /.col-lg-4 -->
</div>