@page
@model Dibs.Pages.HelpModel
@{
    ViewData["Title"] = "Help";
}

<div class="row">
    <div class="col">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">How to Call Dibs</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title">Create Rooms and Users</h5>
                <p class="card-text">Before you can make meetings you must first enter in your users and rooms.</p>
            </div>
            <img class="card-img-bottom" src="~/img/ScreenShots/CreateRoom.png" alt="Card image cap">
        </div>
    </div>
    <div class="col">
        <div class="card bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title">Making a Meeting</h5>
                <p class="card-text">Before you can make meetings you must first enter in your users and rooms.</p>
            </div>
            <img class="card-img-bottom" src="~/img/ScreenShots/NewMeeting.png" alt="Card image cap">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title">Ivite People to Your Meeting</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <img class="card-img-bottom" src="~/img/ScreenShots/Invite.png" alt="Card image cap">
        </div>
    </div>
    <div class="col">
        <div class="card bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title">Go to User Details</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <img class="card-img-bottom" src="~/img/ScreenShots/UserDetails.png" alt="Card image cap">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title">Accepting Meeting Invitations</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <img class="card-img-bottom" src="~/img/ScreenShots/RSVP.png" alt="Card image cap">
        </div>
    </div>
    <div class="col">
        <div class="card bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title">Starting Your Meeting</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <img class="card-img-bottom" src="~/img/ScreenShots/StartMeeting.png" alt="Card image cap">
        </div>
    </div>
</div>



