@page
@model Dibs.Pages.HelpModel
@{
    ViewData["Title"] = "Help";
}

<div class="row">
    <div class="col">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">How Dibs Works</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title">Create Rooms and Users</h5>
                <p class="card-text">Before you can make meetings you must first enter in your users and rooms.</p>
            </div>
            <img class="card-img-bottom" src="~/img/ScreenShots/CreateRoom.png" alt="Card image cap">
        </div>
    </div>
    <div class="col">
        <div class="card bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title">Making a Meeting</h5>
                <p class="card-text">After addding your rooms and users. you are ready to make a meeting. You can create a meeting by clicking the link on the home page or by going to the meeting table through the admin control panel.</p>
            </div>
            <img class="card-img-bottom" src="~/img/ScreenShots/NewMeeting.png" alt="Card image cap">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title">Ivite People to Your Meeting</h5>
                <p class="card-text">Once you create your meeting you will then select the people you want to invite to your meeting. Be careful not to invite yourself.</p>
            </div>
            <img class="card-img-bottom" src="~/img/ScreenShots/Invite.png" alt="Card image cap">
        </div>
    </div>
    <div class="col">
        <div class="card bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title">Go to User Details</h5>
                <p class="card-text">In order to start your meeting or to respond to meeting invites, you need to go to your user details page. This can be accessed via the User Table.</p>
            </div>
            <img class="card-img-bottom" src="~/img/ScreenShots/UserDetails.png" alt="Card image cap">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title">Accepting Meeting Invitations</h5>
                <p class="card-text">Meeting invitations can be accepted by clicking on the edit button of a meeting invitition within the user details page.</p>
            </div>
            <img class="card-img-bottom" src="~/img/ScreenShots/RSVP.png" alt="Card image cap">
        </div>
    </div>
    <div class="col">
        <div class="card bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title">Starting Your Meeting</h5>
                <p class="card-text">You can start your meeting by selecting the Start button on your meeting within the user details page.</p>
            </div>
            <img class="card-img-bottom" src="~/img/ScreenShots/StartMeeting.png" alt="Card image cap">
        </div>
    </div>
</div>



