@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main role="main">
        <div class="col">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3">Dibs </h1>
                    <p>Dibs Room Reservations.</p>
                </div>
            </div>
        </div>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>New Meeting</h2>
                <p>Click the button below to create a new meeting.</p>
                <p><a class="btn btn-secondary"  asp-page="Meetings/Create" role="button">Go</a></p>

            </div>
            <div class="col-md-4">
                <h2>View Users</h2>
                <p>Click the button below to view the user list. Click on details to view your meetings and invitations</p>
                <p><a class="btn btn-secondary" asp-page="MeetingUsers/Index" role="button">Go</a></p>
            </div>
            <div class="col-md-4">
                <h2>Admin Page</h2>
                <p>Add room and enter data directly into the system</p>
                <p><a class="btn btn-secondary"  asp-page="Admin" role="button">Go</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>
