@page
@model Dibs.Pages.MeetingUsers.StartMeetingModel

@{
    ViewData["Title"] = "StartMeeting";
}

<h1>@Model.Meeting.Title</h1>
<hr />
<div class="row">
    <div class="col">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Meeting.Id" />
            <div hidden class="form-group">
                <label asp-for="Meeting.Title" class="control-label"></label>
                <input asp-for="Meeting.Title" class="form-control" />
                <span asp-validation-for="Meeting.Title" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="Meeting.MeetDate" class="control-label"></label>
                <input asp-for="Meeting.MeetDate" class="form-control" />
                <span asp-validation-for="Meeting.MeetDate" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="Meeting.NumOfInvites" class="control-label"></label>
                <input asp-for="Meeting.NumOfInvites" class="form-control" />
                <span asp-validation-for="Meeting.NumOfInvites" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Notes" class="control-label"></label>
                <textarea asp-for="Meeting.Notes" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Meeting.Notes" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="Meeting.MeetingUserId" class="control-label"></label>
                <select asp-for="Meeting.MeetingUserId" class="form-control" asp-items="ViewBag.MeetingUserId"></select>
                <span asp-validation-for="Meeting.MeetingUserId" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="Meeting.RoomId" class="control-label"></label>
                <select asp-for="Meeting.RoomId" class="form-control" asp-items="ViewBag.RoomId"></select>
                <span asp-validation-for="Meeting.RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
